<div class='register-form' id='register'>
  {{#if this.registered}}
    <div class='flex items-center px-10'>
      <div class='text-center'>
        <h2 class='text-3xl font-700'>Thanks, that's all we need for now!</h2>
        <p class='text'>
          We'll get
          <b>{{this.registerData.businessName}}</b>
          set up for you now, and it'll be waiting for you on your dashboard.
        </p>
        <p>Just one more thing, we've sent an email to
          <b>{{this.registerData.email}}</b>
          to confirm your address, click the verification link to complete the
          setup, and be whisked away to your new dashboard!
        </p>
        <p>See you soon!</p>
      </div>
    </div>
  {{else}}
    <form action='/' method='POST'>
      <fieldset class='mt-2 mb-5'>
        <div class='grid sm:grid-cols-3 gap-4 mb-4'>
          <div class='form-group col-span-3'>
            <label for='businessName' class='form-label'>Your Business name</label>
            <Input
              @type='text'
              id='businessName'
              @value={{this.registerData.businessName}}
              class='form-control'
            />
            {{#if this.formErrors.businessName}}
              {{#each this.formErrors.businessName as |error|}}
                <div class='font-medium text-red-800'><small
                  >{{error}}</small></div>
              {{/each}}
            {{/if}}
          </div>
          {{!-- <div class='form-group'>
            <label for='businessType' class='form-label'>Business Type</label>
            
            <UI::Select id="businessType" @value={{@eventInstance.businessType}} @onSelect={{this.didSelectBusinessType}} as |sb|>
              <sb.SelectedOption>
                {{if sb.value.name sb.value.name "Select an type"}}
              </sb.SelectedOption>
              <sb.Options>
                <sb.Option @value="">
                  Select an option
                </sb.Option>
                {{#each @businessTypes as |businessType|}}
                  <sb.Option @value={{businessType}}>
                    {{businessType.name}}
                  </sb.Option>
                {{/each}}
              </sb.Options>
            </UI::Select>

            {{#if this.formErrors.businessType}}
              {{#each this.formErrors.businessType as |error|}}
                <div class='font-medium text-red-800'><small
                  >{{error}}</small></div>
              {{/each}}
            {{/if}}
          </div> --}}
        </div>
      </fieldset>
      <fieldset class='mb-2'>
        <div class='grid sm:grid-cols-2 gap-4 mb-4'>
          <div class='form-group'>
            <label for='firstName' class='form-label'>Your First Name</label>
            <Input
              @type='text'
              id='firstName'
              @value={{this.registerData.firstName}}
              class='form-control'
            />
            {{#if this.formErrors.firstName}}
              {{#each this.formErrors.firstName as |error|}}
                <div class='font-medium text-red-800'><small
                  >{{error}}</small></div>
              {{/each}}
            {{/if}}
          </div>
          <div class='form-group'>
            <label for='lastName' class='form-label'>Your Last Name</label>
            <Input
              @type='text'
              id='lastName'
              @value={{this.registerData.lastName}}
              class='form-control'
            />
            {{#if this.formErrors.lastName}}
              {{#each this.formErrors.lastName as |error|}}
                <div class='font-medium text-red-800'><small
                  >{{error}}</small></div>
              {{/each}}
            {{/if}}
          </div>
          <div class='form-group'>
            <label for='email' class='form-label'>Your Email</label>
            <Input
              @type='text'
              id='email'
              @value={{this.registerData.email}}
              class='form-control'
            />
            {{#if this.formErrors.email}}
              {{#each this.formErrors.email as |error|}}
                <div class='font-medium text-red-800'><small
                  >{{error}}</small></div>
              {{/each}}
            {{/if}}
          </div>
          <div class='form-group'>
            <label for='password' class='form-label'>Password</label>
            <Input
              @type='password'
              id='password'
              @value={{this.registerData.password}}
              class='form-control'
            />
          </div>
        </div>
      </fieldset>

      <div class='text-center'>
        {{#if this.registering}}
          <img
            src='/img/loading-button.svg'
            alt='Sending, please wait'
            class='inline'
            style='height:52px; color:white;'
          />
        {{else}}
          <button
            name='register'
            class='btn btn-primary btn-lg'
            type='button'
            {{on 'click' this.submit}}
          >Sign Up Now</button>
        {{/if}}
      </div>
      {{yield}}
    </form>
  {{/if}}
</div>