<header class="absolute w-full">
  <div class="container">
    <div class="flex flex-col sm:flex-row justify-between">
      <LinkTo @route="index" class="mt-2 text-center">
        <span class="sr-only">highstreet.ly</span>
        <img class="h-16 md:h-24 inline-block width-auto" src="{{if this.light '/img/logo-white.svg' '/img/logo-orange.svg'}}" alt="highstreet.ly" title="highstreet.ly">
      </LinkTo>
      <nav>
        <ul class="text-center">
          <li class="inline-block"><LinkTo @route="index" class="block py-6 px-4 md:px-6 {{if this.light 'text-white' 'text-brand'}} hover:underline">Home</LinkTo></li>
          <li class="inline-block"><a href="https://blog.highstreet.ly" class="block py-6 px-4 md:px-6 {{if this.light 'text-white' 'text-brand'}} hover:underline">Blog</a></li>
          <li class="inline-block"><LinkTo @route="contact" class="block py-6 px-4 md:px-6 {{if this.light 'text-white' 'text-brand'}} hover:underline">Contact</LinkTo></li>
          <li class="inline-block"><LinkTo @route="register" class="block py-6 px-4 md:px-6 {{if this.light 'text-white' 'text-brand'}} hover:underline">Register</LinkTo></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

{{yield}}